<section id="objectives" class="container my-5">
    <h2 class="text-center mb-4">Objetivos</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card text-center custom-card">
                <div class="card-body">
                    <h5 class="card-title">Facilitar o Acesso</h5>
                    <p class="card-text">
                        Tornar informações de saúde acessíveis a todos de forma prática e rápida.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center custom-card">
                <div class="card-body">
                    <h5 class="card-title">Conectar Pacientes</h5>
                    <p class="card-text">
                        Aproximar pacientes e profissionais com ferramentas digitais eficientes.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center custom-card">
                <div class="card-body">
                    <h5 class="card-title">Suporte Técnico</h5>
                    <p class="card-text">
                        Oferecer soluções técnicas para melhorar a experiência em saúde digital.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>    